@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
}

.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 100%;
  max-width: 400px;
  background: white;
  border-radius: 10px;
  padding: 40px 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #222;
  text-align: center;
}

.small-text {
  font-size: 15px;
  color: #555;
  margin-bottom: 25px;
  text-align: center;
}

form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  background: #eee;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box; /* Tambahkan ini agar padding tidak menambah lebar */
  display: block;         /* Pastikan input satu baris penuh */
  margin-left: 0;         /* Pastikan tidak ada margin kiri */
}

.forgot {
  font-size: 13px;
  color: #777;
  margin-bottom: 20px;
  text-align: center;
}

.btn-login {
  width: 100%;
  padding: 12px;
  background: #febf0f;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}

.btn-login:hover {
  background: #e6aa0d;
}

.error-text {
  color: red;
  font-size: 13px;
  margin-bottom: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .login-box {
    padding: 30px 20px;
    width: 300px;
  }

  .login-box h2 {
    font-size: 22px;
  }

  .small-text {
    font-size: 13px;
  }

  form input {
    padding: 10px;
    font-size: 13px;
    width: 280px;
  }

  .btn-login {
    padding: 10px;
    font-size: 14px;
  }
}
